<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uepay.corebusiness.risk.code.generator.mapper.ColumnMapper">

	<select id="find" resultType="com.uepay.corebusiness.risk.code.generator.domain.Column">
		select
			table_schema schemaName,
			table_name tableName,
			column_name name,
			data_type type,
			column_comment comment
		from information_schema.columns where table_name=#{tableName}
	</select>
  
</mapper>