<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.code.generator.mapper.MysqlMapper">

    <select id="getTable" resultType="com.gemini.code.generator.domain.DataBase">
        select
        TABLE_NAME,
        TABLE_COMMENT
        from
        INFORMATION_SCHEMA.Tables
        where
        table_schema = #{dataBaseName}
	</select>

    <select id="getColumn" resultType="com.gemini.code.generator.domain.Column">
        select
        table_schema 'schema',
        table_name 'table',
        column_name 'name',
        data_type 'type',
        column_comment 'comment'
        from information_schema.columns
        where table_name=#{tableName}
    </select>
</mapper>