<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- 仓库路径 -->
    <localRepository>D:\java\maven</localRepository>

    <servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>admin</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>maven-public</id>
            <name>maven-public</name>
            <url>http://192.168.0.31:18081/repository/maven-public/</url>
            <!-- * 表示让所有仓库使用该镜像-->
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>nexus-aliyun</id>
            <name>nexus-aliyun</name>
            <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>gemini</id>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>gemini</activeProfile>
    </activeProfiles>
</settings>
